:root {
  --error-color: rgb(241, 93, 48);
  --correct-color: rgb(70, 241, 48);
  --bs-gray-800: #343a40;
  --bs-primary: #0d6efd;
  --bs-white: #fff;
}

* {
  padding: 0px;
  margin: px;
  font-size: x-large;
  font-family: sans-serif;
  background-color: var(--bs-gray-800);
  color: var(--bs-white);
}

.error {
  color: var(--error-color);
}

.correct {
  color: var(--bs-primary);
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
}

body > div label {
  display: block;
  margin-bottom: 5px;
}

body select,
body input {
  margin-bottom: 20px;
  width: 95vw;
  max-width: 400px;
  border: 2px solid var(--bs-gray-800);
  border-radius: 5px;
  outline: none;
  background-color: var(--bs-white);
  color: var(--bs-gray-800);
}

#settings3 input {
  width: 90vw;
}

#calc {
  display: flex;
  justify-content: space-around;
}

#btn-calc {
  width: 50%;
  color: var(--bs-white);
  background-color: var(--bs-primary);
  height: 50px;
  border-radius: 15px;
  margin-top: 10px;
}

#result {
  display: flex;
  justify-content: space-around;
}
